.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.header{
    height: 44px;
    padding: 6px 12px;
}
.body{
    flex: 1;
    overflow-y: scroll;

}
.menu{
    height: 49px;
}

.content-list{
    padding: 4px 12px 10px 12px;
    li{
        border-bottom: 1px solid #d5dbdb;
        box-sizing: border-box;
        padding: 5px
    }
    .loading-li{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2db7f5;
    }
    .loading{
        font-size: 20px
    }
}
.user-info{
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    .name{
        flex: 1;
        margin-left: 12px;
    }
    .time{
        margin-top: 5px;
    }
    .avatar{
        img{
            width: 34px;
            height: 34px;
            border-radius: 50%;
        }
    }
}
.title-line{
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}
