.header{
    padding: 12px 12px;
    background-color: #fff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    .left{
        min-width: 74px;
    }
    .right{
        min-width: 74px;
        display: flex;
        justify-content: flex-end;
        i{
            margin: 0 0 0 10px;
            font-size: 16px;
        }
    }
}
